/* Цвет основного текста color: #757575; */
/* Цвет вторичного текста color: #212121; */
/* Цвет акцент color: #2196F3; */
/* цвет белый color: #FFFFFF; */
/* вторичный background-color: #E5E5E5; */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF; 
    --secondary-bg-color:#E5E5E5;
    --footer-bg-color:#2F303A;
    --portfolio-bg:#F5F4FA;
 }

  body {
    
    color: var(--primary-text-color);
    background-color: var(--white-color);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Header */

/* .page-header {} */
.logo {
    color: var(--accent-color);
    text-decoration: none;

    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.logo-top {
    color: var(--title-text-color); 
}

/* Site-nav */

/* .site-nav { color: #212121; } */
.site-nav .link {
    color: var(--title-text-color); 
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

.contact-links .mail,
.contact-links .tel {
    color: var(--primary-text-color);
}
.contact-links .mail:hover,
.contact-links .mail:focus,
.contact-links .mail:active {
    color: var(--accent-color);
}

.contact-links .tel:hover,
.contact-links .tel:focus,
.contact-links .tel:active {
    color: var(--accent-color);
}


/* Hero */

.hero {
    background-color: var(--secondary-bg-color);
}
.hero-title {
    color:  var(--white-color);

    font-family: Roboto;
    font-style: normal;
    font-size: 44px;
    line-height: 1.2;

    text-align: center;
    text-transform: uppercase;
}
/* Button */

.button {
    color: var(--white-color);
    background-color: var(--accent-color);
    display: inline-block;

    font-family: inherit;
    /* font-style: normal; */
    font-size: 16px;
    /* line-height: 1.2; */

    align-items: center;
    text-align: center;
}

/* Section */

.section-title {
    color: var(--title-text-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Features */
.title {
    color: var(--title-text-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;

    text-transform: uppercase;
}
.box:hover {
    background-color: var(--accent-color);

}
/* Team */
.team-title {
    color: var(--title-text-color);

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    text-align: center;
}
.team-title.position {
    color: var(--primary-text-color);
    font-weight: normal;
}
.social-link:hover,
.social-link:focus {
     background-color: var(--accent-color);
}


/* Footer */

.page-footer {
    color: var(--white-color);
    background: var(--footer-bg-color);    
}
.logo.footer {
    font-size: 22px;
    line-height: 1.18;
}
.logo-bottom {
    color: var(--white-color);
}

.address {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.address-link {
    color: rgba(255, 255, 255, 0.6);
}
.join {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;

    text-align: left;
    text-transform: uppercase;
}
.copyright {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;

    text-align: center;
    letter-spacing: 0.03em;
   
    color: rgba(255, 255, 255, 0.4);
}

/* Portfolio styles */
.menu-nav .link:hover,
.menu-nav .link:focus,
.menu-nav .link:active {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.button.primary {
    color: var(--title-text-color);
    background-color: var(--portfolio-bg);

    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}
.title.project {
    text-transform: none;

    font-size: 18px;
    line-height: 1.2;
}
.team-title.project {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;

    text-align: Left;
}
.p-txt {
    color: var(--white-color);
    background-color: var(--accent-color);

    font-size: 18px;
    line-height: 1.55;

    letter-spacing: 0.03em;
}